
}
h2{
	text-align:center;
	font-size:100px;
}


ul {
    list-style-type: none;
    margin-left: 200px;
    
    padding: 0;
    overflow: hidden;

    
     
}


li.logo {
	width: 5rem;
	height: 5rem;
	margin-left:0;
	margin-top:0px;
	}

li {
    float: left;
     margin-top:30px;
  

}
    a:hover{ 
    	text-decoration: underline;
}

a {
    display: inline;
    width: 60px;
    background-color: #fff;
    padding: 150px 150px 150px 0;
    text-decoration:none;
    color:black;
    margin-bottom:100px;
}
.sub-nav ul a, .sub-nav li a, .sub-nav li a {
    color: #999999;
    padding: 1.16667rem 1.88889rem;
    text-decoration: none;
}
ul.sub-nav{
	height:100px;
	margin-top:0px;
}
#about{
	margin-top:200px;
	margin-bottom:200px;
}


[data-magellan-expedition], [data-magellan-expedition-clone] {
    /* background: #FFFFFF; */
    min-width: 100%;
    padding: 10px;
    z-index: 50;
    height:100px;
}


.footer{
	background-color:gray;
	padding: 1.25rem 0;
	margin-bottom:0;
}

@media only screen and (min-width: 58.75em)
.below-hero-margin {
    margin-top: 5.5rem;
}
